<nav class="navbar navbar-default">
  <div class="h-wrapper">
    <div class="col-xs-12 col-sm-12 col-lg-8 no-padding text-left">
      <a href="index.html">
        <h3 class="h-title">RSS Feed Reader</h3>
      </a>
      <!-- <div class="h-search form-group" id="feedForm">
        <input required id="feedId" type="url" class="form-control" placeholder="Read other RSS.." aria-describedby="basic-addon1">
        <div class="help-block with-errors"></div>
      </div> -->
    </div>
    <div class="col-xs-12 hidden-sm hidden-md col-lg-4 no-padding text-right">
      <h4 class="h-slogan">#1 RSS reader in this machine</h4>
    </div>
  </div>
</nav>
