<!-- Modal -->
<div class="modal lean" id="feedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="feedTitle">Modal title</h4>
    </div>
    <div class="modal-body">
      <div id="feedContent"></div>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Close</button> -->
      <a target="_blank" id="feedLink" href="#" type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-new-window"></span> Go to page</a>
    </div>
  </div>
</div>
</div>
