@-webkit-keyframes tick {
    from {-webkit-transform: scale(1.3,1.3);transform: scale(1.3,1.3)}
    to {-webkit-transform: scale(1,1);transform: scale(1,1)}
}

@keyframes tick {
    from {-webkit-transform: scale(1.3,1.3);transform: scale(1.3,1.3)}
    to {-webkit-transform: scale(1,1);transform: scale(1,1)}
}

@-webkit-keyframes lean {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes lean {
    from {opacity: 0;}
    to {opacity: 1;}
}
