@charset "UTF-8";

header {
  @include clearfix;

  .navbar {
    height: $headerHeight;
    margin-bottom: 0;
    -webkit-transition: $trans;
    transition: $trans;

    .sticked-nav & {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      background-color: rgba($F, .8);
      z-index: 1040;
      -webkit-transition: $trans;
      transition: $trans;

      @include mobile {
        display: none;
      }
    }
  }

  .view & {
    background-image: url('../../images/night.jpg');
    background-size: cover;
    background-position: top;
  }
}

.h-title {
  margin: 0;
  line-height: $headerHeight;
  color: $F;
  font-style: italic;
  font-family: 'Patua One', cursive;
  display: inline-block;
  padding: 0 40px;
  -webkit-transition: $trans;
  transition: $trans;
  /*background-color: rgba($F, .5);*/

  .sticked-nav & {
    background-color: rgba($green, .6);
  }

  @include mobile {
    width: 100%;
    text-align: center;
    line-height: 50px;
  }

  &:hover {
    background-color: lighten($green, 4%);
    -webkit-transition: $trans;
    transition: $trans;
  }

  .view & {
    &:hover {
      background-color: $green;
    }
  }
}

.h-search {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 0;

  @include mobile {
    display: block;
    margin: 0;

    .form-control, .help-block {
      width: 100%;
      max-width: 100%;
      text-align: center;
      margin: auto;
    }
  }

  .welcome & {
    display: none;
  }

  .help-block {
    display: inline-block;
  }

  .form-control {
    background-color: transparent;
    color: $F;
    box-shadow: none;
    display: inline-block;
    min-width: 300px;

  @include tablet-sm {
    max-width: 50%;
  }

    &:focus {
      box-shadow: none;
    }

    &::-webkit-input-placeholder {
      color: rgba($F, .8);
    }

    &::-moz-placeholder {
      color: rgba($F, .8);
    }

    &:-ms-input-placeholder {
      color: rgba($F, .8);
    }

    &::placeholder {
      color: rgba($F, .8);
    }

    .sticked-nav & {
      color: $dark;

      &::-webkit-input-placeholder {
        color: $dark;
      }

      &::-moz-placeholder {
        color: $dark;
      }

      &:-ms-input-placeholder {
        color: $dark;
      }

      &::placeholder {
        color: $dark;
      }
    }
  }
}

.h-slogan {
  margin: 0;
  line-height: $headerHeight;
  color: $light;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  padding: 0 40px;

  .sticked-nav & {
    color: $dark;
  }

  @include mobile {
    width: 100%;
    text-align: center;
    line-height: 30px;
  }
}

.h-wrapper {
  @include clearfix;
/* padding: 0 20px;*/

  .view & {
    /*border-bottom: solid 1px $light;*/
    /*background-color: $F;*/
  }
}

.content-wrapper {
  @include laptop-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content {
  /* height: calc(100% - #{$headerHeight});*/

  .view & {
    /*width: calc(100% - #{$sidebar-w});*/
    display: inline-block;
    margin: 60px 0;

    @include mobile {
      width: 100%;
      display: block;
    }
  }
}

.feed {
  margin-bottom: 50px;

  &:hover {
      .f-icon {
        .glyphicon {
          -webkit-animation: tick .2s linear;
                  animation: tick .2s linear;
        }
      }
  }

  .f-icon {
    width: 10vw;
    min-height: 10vw;
    display: none;
    background: -webkit-linear-gradient(240deg, darken($green, 3%), lighten($green, 15%));
    background: linear-gradient(210deg, darken($green, 3%), lighten($green, 15%));
    vertical-align: top;

    @include tablet-sm {
        display: inline-block;
    }

    &:hover {
        cursor: pointer;
    }

    .glyphicon {
      line-height: 10vw;
      width: 100%;
      text-align: center;
      color: $F;
      font-size: 40px;
      -webkit-transition: $trans;
      transition: $trans;
    }
  }

  .f-content {
    min-height: 10vw;
    width: 100%;
    display: inline-block;
    /*overflow: hidden;*/
    vertical-align: top;
    /* border-right: solid 1px $gray;*/
    padding: 0 20px;

    @include tablet-sm {
      width: calc(100% - 10vw);
      display: inline-block;
    }

    .f-title {
      margin: 0 0 5px;
      font-weight: 700;

      a {
        color: $dark;

        &:hover {
          color: $green;
        }
      }
    }

    .f-date {
      color: darken($gray, 15%);
    }
  }
}

.f-header {
  /*margin-top: $headerHeight;*/
  @include clearfix;
  margin: 70px 0;

  .sticked-nav & {
    margin-top: #{$headerHeight + 70px};
    margin-bottom: 70px;
  }

  @include under-tablet-lg {
    padding: 0 7%;
  }
}

.f-h-description {
  text-align: center;
  color: $F;
  font-weight: 300;

  @include tablet-lg {
    margin: 0 200px;
  }
}

.f-tools {
  width: 900px;
  max-width: 100%;
  @include center-block;
  margin-bottom: 30px;

  @include mobile {
    width: 100%;
    display: block;
    text-align: center;
  }

  .btn {
    margin-right: 10px;
  }
}

.history {
  a {
    display: block;
    word-break: break-all;
    margin-bottom: 15px;
    /* border-bottom: solid 1px darken($light, 10%);*/
    color: $dark;

    .glyphicon {
      margin-right: 5px;
    }

    &:hover {
      color: $green;
    }
  }
}

.sidebar {
  background-color: lighten($light, 2%);
  right: 0;
  bottom: 0;
  padding: 60px 40px;
  z-index: 1030;

  @include mobile {
    width: 100%;
    display: block;
  }

  .title {
    margin: 0 0 30px;
  }
}

#feed {
  width: 900px;
  max-width: 100%;
  @include center-block;
}

.c-give-feed {
  @include center-vertically;
  width: 100%;
  height: 200px;
}

#feedForm {
  .c-give-feed & {
    max-width: 600px;
    margin: auto;
  }
}

.last-feed {
  color: $F;

  a {
    color: $F;

    &:hover {
      color: $green;
    }
  }

  em {
    color: darken($F, 10%);
  }
}

.modal {
  &.lean {
    -webkit-animation: lean $trans ease forwards;
            animation: lean $trans ease forwards;
  }

  .modal-dialog {
    @include tablet-sm {
      margin: 20vh auto 0;
      width: 700px;
    }
  }

  .modal-header {
    border-bottom: none;
    padding: 30px;

    .modal-title {
      font-weight: 700;
      font-size: 26px;
    }

    .close {
      position: absolute;
      top: 2px;
      right: 0;
      opacity: .8;
      padding: 2px 10px 4px;
      background-color: $light;
      color: $dark;
      text-shadow: none;
      -webkit-transition: $trans;
      transition: $trans;

      &:focus {
          outline: none;
      }

      &:hover {
        background-color: $danger;
        color: $F;
        -webkit-transition: $trans;
        transition: $trans;
      }
    }
  }

  .modal-body {
    padding: 0 30px 10px;
  }

  .modal-content {
    border-radius: 0;
    box-shadow: 0 0 15px rgba($B, .4);
  }

  .modal-footer {
    text-align: center;
    border-top: none;
    padding: 10px 30px 30px;
  }
}
