@charset "UTF-8";

.col-centered {
  float: none;
  @include center-block;
}

.form-control {
  background-color: rgba($F, .6);
  padding: 10px 16px;
  height: auto;
  font-size: 20px;
  color: $dark;
  -webkit-transition: $trans;
  transition: $trans;
  font-weight: 700;
  border: none;

  &::-webkit-input-placeholder {
    color: rgba($dark, .5);
    font-weight: 300;
  }

  &::-moz-placeholder {
    color: rgba($dark, .5);
    font-weight: 300;
  }

  &:-ms-input-placeholder {
    color: rgba($dark, .5);
    font-weight: 300;
  }

  &::placeholder {
    color: rgba($dark, .5);
    font-weight: 300;
  }

  .has-error & {
    background-color: lighten($danger, 20%);
    color: $dark;

    &:focus {
      color: $dark;
    }
  }

  &:focus {
    background-color: $F;
  }
}

.btn {
  border: none;
  -webkit-transition: $trans;
  transition: $trans;
  border-radius: 0;

  &:hover {
    -webkit-transition: $trans;
    transition: $trans;
  }

  &:focus, &:active, &:focus:active {
    outline: none !important;
    box-shadow: none;
  }

  .input-group-btn & {
    padding: 10px 16px;
    font-size: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &.btn-primary {
    background-color: $green;

    &:focus:active, &:focus, &:hover {
      background-color: darken($green, 10%);
    }
  }
}

a {
  color: $green;
  -webkit-transition: $trans;
  transition: $trans;

  &:hover {
    color: darken($green, 10%);
    -webkit-transition: $trans;
    transition: $trans;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.help-block {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.green {
  color: $green;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.title {
  color: $dark;
  font-weight: 700;
  text-transform: uppercase;
}

.no-padding {
  padding: 0;
}

.close {
  font-size: 30px;
}

.welcome-msg,
.f-h-name,
.error-msg {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  color: $F;

  a {
    color: $F;

    &:hover {
      color: $green;
    }
  }

  .green {
    color: lighten($green, 22%);
  }

  .red {
    color: $danger;
  }
}

.error-details {
  color: $F;
  text-align: center;
  margin-bottom: 30px;
}
