@charset "UTF-8";

$mobile-sm-width: 320px;
$mobile-lg-width: 500px;
$tablet-sm-width: 768px;
$tablet-lg-width: 992px;
$laptop-sm-width: 1200px;
$laptop-lg-width: 1370px;
$desktop-sm-width: 1600px;
$desktop-lg-width: 1900px;
$wide-width: 2500px;

@mixin mobile-sm {
  @media (min-width: #{$mobile-sm-width}) and (max-width: #{$mobile-lg-width - 1px}) {
    @content;
  }
}

@mixin mobile-lg {
  @media (min-width: #{$mobile-lg-width}) and (max-width: #{$tablet-sm-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile-sm-width}) and (max-width: #{$tablet-sm-width - 1px}) {
    @content;
  }
}

@mixin tablet-sm {
  @media (min-width: #{$tablet-sm-width}) {
    @content;
  }
}

@mixin under-tablet-lg {
  @media (max-width: #{$tablet-lg-width - 1px}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (min-width: #{$tablet-lg-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm-width}) and (max-width: #{$laptop-sm-width - 1px})  {
    @content;
  }
}

@mixin laptop-sm {
    @media (min-width: #{$laptop-sm-width})  {
        @content;
    }
}

@mixin laptop-lg {
    @media (min-width: #{$laptop-lg-width}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop-sm-width}) and (max-width: #{$desktop-sm-width - 1px}) {
        @content;
    }
}

@mixin desktop-sm {
    @media (min-width: #{$desktop-sm-width}) {
        @content;
    }
}

@mixin desktop-lg {
    @media (min-width: #{$desktop-lg-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-sm-width}) and (max-width: #{$wide - 1px}) {
        @content;
    }
}

@mixin wide {
    @media (min-width: #{$wide-width}) {
        @content;
    }
}
