@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
