@charset "UTF-8";

$F : #FFF;

$B : #000;

$headerHeight : 80px;

$light : #EFEFEF;

$gray : darken($F, 25%);

$dark : #505050;

$danger : #EA6969;

$trans : .3s;

$green : #67B14F ;

$sidebar-w : 300px;
