@charset "UTF-8";

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/animations';
@import 'partials/media';
@import 'partials/typography';
@import 'partials/elements';
@import 'partials/components';

html {
  height: 100%;
}

body {
    height: 100%;

    &.welcome {
      background-image: url('../../images/night.jpg');
      background-size: cover;
      background-position: center;
    }
}
