@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Patua+One");
@-webkit-keyframes tick {
  from {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes tick {
  from {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes lean {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes lean {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; }

.col-centered {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.form-control {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 16px;
  height: auto;
  font-size: 20px;
  color: #505050;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
  border: none; }
  .form-control::-webkit-input-placeholder {
    color: rgba(80, 80, 80, 0.5);
    font-weight: 300; }
  .form-control::-moz-placeholder {
    color: rgba(80, 80, 80, 0.5);
    font-weight: 300; }
  .form-control:-ms-input-placeholder {
    color: rgba(80, 80, 80, 0.5);
    font-weight: 300; }
  .form-control::placeholder {
    color: rgba(80, 80, 80, 0.5);
    font-weight: 300; }
  .has-error .form-control {
    background-color: #f7c2c2;
    color: #505050; }
    .has-error .form-control:focus {
      color: #505050; }
  .form-control:focus {
    background-color: #FFF; }

.btn {
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0; }
  .btn:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .btn:focus, .btn:active, .btn:focus:active {
    outline: none !important;
    box-shadow: none; }
  .input-group-btn .btn {
    padding: 10px 16px;
    font-size: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  .btn.btn-primary {
    background-color: #67B14F; }
    .btn.btn-primary:focus:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
      background-color: #528e3f; }

a {
  color: #67B14F;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  a:hover {
    color: #528e3f;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer; }
  a:focus {
    outline: none;
    text-decoration: none; }

.help-block {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }

.green {
  color: #67B14F; }

.navbar-default {
  background-color: transparent;
  border: none; }

.title {
  color: #505050;
  font-weight: 700;
  text-transform: uppercase; }

.no-padding {
  padding: 0; }

.close {
  font-size: 30px; }

.welcome-msg,
.f-h-name,
.error-msg {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  color: #FFF; }
  .welcome-msg a,
  .f-h-name a,
  .error-msg a {
    color: #FFF; }
    .welcome-msg a:hover,
    .f-h-name a:hover,
    .error-msg a:hover {
      color: #67B14F; }
  .welcome-msg .green,
  .f-h-name .green,
  .error-msg .green {
    color: #aad39d; }
  .welcome-msg .red,
  .f-h-name .red,
  .error-msg .red {
    color: #EA6969; }

.error-details {
  color: #FFF;
  text-align: center;
  margin-bottom: 30px; }

header:before, header:after {
  content: "";
  display: table; }
header:after {
  clear: both; }
header .navbar {
  height: 80px;
  margin-bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .sticked-nav header .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1040;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    @media (min-width: 320px) and (max-width: 767px) {
      .sticked-nav header .navbar {
        display: none; } }
.view header {
  background-image: url("../../images/night.jpg");
  background-size: cover;
  background-position: top; }

.h-title {
  margin: 0;
  line-height: 80px;
  color: #FFF;
  font-style: italic;
  font-family: 'Patua One', cursive;
  display: inline-block;
  padding: 0 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /*background-color: rgba($F, .5);*/ }
  .sticked-nav .h-title {
    background-color: rgba(103, 177, 79, 0.6); }
  @media (min-width: 320px) and (max-width: 767px) {
    .h-title {
      width: 100%;
      text-align: center;
      line-height: 50px; } }
  .h-title:hover {
    background-color: #73b75d;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .view .h-title:hover {
    background-color: #67B14F; }

.h-search {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    .h-search {
      display: block;
      margin: 0; }
      .h-search .form-control, .h-search .help-block {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: auto; } }
  .welcome .h-search {
    display: none; }
  .h-search .help-block {
    display: inline-block; }
  .h-search .form-control {
    background-color: transparent;
    color: #FFF;
    box-shadow: none;
    display: inline-block;
    min-width: 300px; }
    @media (min-width: 768px) {
      .h-search .form-control {
        max-width: 50%; } }
    .h-search .form-control:focus {
      box-shadow: none; }
    .h-search .form-control::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .h-search .form-control::-moz-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .h-search .form-control:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .h-search .form-control::placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .sticked-nav .h-search .form-control {
      color: #505050; }
      .sticked-nav .h-search .form-control::-webkit-input-placeholder {
        color: #505050; }
      .sticked-nav .h-search .form-control::-moz-placeholder {
        color: #505050; }
      .sticked-nav .h-search .form-control:-ms-input-placeholder {
        color: #505050; }
      .sticked-nav .h-search .form-control::placeholder {
        color: #505050; }

.h-slogan {
  margin: 0;
  line-height: 80px;
  color: #EFEFEF;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  padding: 0 40px; }
  .sticked-nav .h-slogan {
    color: #505050; }
  @media (min-width: 320px) and (max-width: 767px) {
    .h-slogan {
      width: 100%;
      text-align: center;
      line-height: 30px; } }

.h-wrapper {
  /* padding: 0 20px;*/ }
  .h-wrapper:before, .h-wrapper:after {
    content: "";
    display: table; }
  .h-wrapper:after {
    clear: both; }
  .view .h-wrapper {
    /*border-bottom: solid 1px $light;*/
    /*background-color: $F;*/ }

@media (min-width: 1200px) {
  .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.content {
  /* height: calc(100% - 80px);*/ }
  .view .content {
    /*width: calc(100% - 300px);*/
    display: inline-block;
    margin: 60px 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .view .content {
        width: 100%;
        display: block; } }

.feed {
  margin-bottom: 50px; }
  .feed:hover .f-icon .glyphicon {
    -webkit-animation: tick .2s linear;
    animation: tick .2s linear; }
  .feed .f-icon {
    width: 10vw;
    min-height: 10vw;
    display: none;
    background: -webkit-linear-gradient(240deg, #61a74a, #95c884);
    background: linear-gradient(210deg, #61a74a, #95c884);
    vertical-align: top; }
    @media (min-width: 768px) {
      .feed .f-icon {
        display: inline-block; } }
    .feed .f-icon:hover {
      cursor: pointer; }
    .feed .f-icon .glyphicon {
      line-height: 10vw;
      width: 100%;
      text-align: center;
      color: #FFF;
      font-size: 40px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .feed .f-content {
    min-height: 10vw;
    width: 100%;
    display: inline-block;
    /*overflow: hidden;*/
    vertical-align: top;
    /* border-right: solid 1px $gray;*/
    padding: 0 20px; }
    @media (min-width: 768px) {
      .feed .f-content {
        width: calc(100% - 10vw);
        display: inline-block; } }
    .feed .f-content .f-title {
      margin: 0 0 5px;
      font-weight: 700; }
      .feed .f-content .f-title a {
        color: #505050; }
        .feed .f-content .f-title a:hover {
          color: #67B14F; }
    .feed .f-content .f-date {
      color: #999999; }

.f-header {
  /*margin-top: $headerHeight;*/
  margin: 70px 0; }
  .f-header:before, .f-header:after {
    content: "";
    display: table; }
  .f-header:after {
    clear: both; }
  .sticked-nav .f-header {
    margin-top: 150px;
    margin-bottom: 70px; }
  @media (max-width: 991px) {
    .f-header {
      padding: 0 7%; } }

.f-h-description {
  text-align: center;
  color: #FFF;
  font-weight: 300; }
  @media (min-width: 992px) {
    .f-h-description {
      margin: 0 200px; } }

.f-tools {
  width: 900px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .f-tools {
      width: 100%;
      display: block;
      text-align: center; } }
  .f-tools .btn {
    margin-right: 10px; }

.history a {
  display: block;
  word-break: break-all;
  margin-bottom: 15px;
  /* border-bottom: solid 1px darken($light, 10%);*/
  color: #505050; }
  .history a .glyphicon {
    margin-right: 5px; }
  .history a:hover {
    color: #67B14F; }

.sidebar {
  background-color: #f4f4f4;
  right: 0;
  bottom: 0;
  padding: 60px 40px;
  z-index: 1030; }
  @media (min-width: 320px) and (max-width: 767px) {
    .sidebar {
      width: 100%;
      display: block; } }
  .sidebar .title {
    margin: 0 0 30px; }

#feed {
  width: 900px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.c-give-feed {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  width: 100%;
  height: 200px; }

.c-give-feed #feedForm {
  max-width: 600px;
  margin: auto; }

.last-feed {
  color: #FFF; }
  .last-feed a {
    color: #FFF; }
    .last-feed a:hover {
      color: #67B14F; }
  .last-feed em {
    color: #e6e6e6; }

.modal.lean {
  -webkit-animation: lean 0.3s ease forwards;
  animation: lean 0.3s ease forwards; }
@media (min-width: 768px) {
  .modal .modal-dialog {
    margin: 20vh auto 0;
    width: 700px; } }
.modal .modal-header {
  border-bottom: none;
  padding: 30px; }
  .modal .modal-header .modal-title {
    font-weight: 700;
    font-size: 26px; }
  .modal .modal-header .close {
    position: absolute;
    top: 2px;
    right: 0;
    opacity: .8;
    padding: 2px 10px 4px;
    background-color: #EFEFEF;
    color: #505050;
    text-shadow: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .modal .modal-header .close:focus {
      outline: none; }
    .modal .modal-header .close:hover {
      background-color: #EA6969;
      color: #FFF;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
.modal .modal-body {
  padding: 0 30px 10px; }
.modal .modal-content {
  border-radius: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }
.modal .modal-footer {
  text-align: center;
  border-top: none;
  padding: 10px 30px 30px; }

html {
  height: 100%; }

body {
  height: 100%; }
  body.welcome {
    background-image: url("../../images/night.jpg");
    background-size: cover;
    background-position: center; }

/*# sourceMappingURL=style.css.map */
